*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

 .main
 {
    position: fixed;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 60vw;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));
    column-gap: 10px;
    row-gap: 20px;
}

            #a{grid-area: A;}
            #b{grid-area: B;}
            #c{grid-area: C;}
            #d{grid-area: D;}
            #e{grid-area: E;}
            #f{grid-area: F;}
            #g{grid-area: G;}

            #maindiv{
                display: grid;
                grid-template-areas: "A B C"
                "D E F"
                "G G G";
                padding: 20px;
                margin: 100px;
                background-color:rgb(224, 209, 168);
                border-radius: 40px;
            }
            body{
                background-image: url("https://t3.ftcdn.net/jpg/01/42/04/50/360_F_142045027_zo4MOsmC4aoc5dAYoP6Q8c36Tz2kTXiI.webp");
                background-size: 1550px 800px;
            }

            .header {
                background: rgb(2, 4, 9);
                color: rgb(228, 232, 234);
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 999px;
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
                text-align:center;
                }

            .footer {
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    padding: 10px 16px;
                    background-color:rgb(1, 0, 2) ;
                    color:rgb(233, 237, 238) ;
                    text-align:left;
             }
